<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="Testconstr" connectionString="Initial Catalog=SayedWebsite;Data Source=127.0.0.1;uid=sa;pwd=sa123" providerName="System.Data.SqlClient" />
    <add name="constr" connectionString="Initial Catalog=bds286646549_db;Data Source=bds286646549.my3w.com;uid=bds286646549;pwd=bds286646549" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
      <!--解决跨域请求 by wys -->
    </webServices>
  </system.web>
  <system.webServer>
    <!--解决跨域请求 by wys -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: DF6307C5-ABE0-4A35-A726-A5E00A93FC17-->