/*
 * @Author: Ryan 
 * @Date: 2018-07-27 16:14:45 
 * @Last Modified by: Ryan
 * @Last Modified time: 2018-08-09 21:25:08
 */

 #advantage header {
	 background-image: url(../images/bg-other.png);
 }
#advantage .advantage-h1 {
    font-size: 30px;
	color: #398df8;
	line-height: 40px;
	line-height: 60px;
}
.advantage-h1-2 {
	margin-top: 200px;
}
#advantage .advantage-p {
	font-family: MicrosoftYaHei;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36px;
	letter-spacing: 0px;
	color: #999999;
}
.pc-advantage .col-md-7 {
	background-image: none
}
.photo-wall {
	background-image: url(../images/bg-photo-wall.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 600px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.photo-wall-2 {
	background-image: url(../images/ba-photo-wall-2.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 600px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.pc-advantage .jumbotron h1 {
	line-height: 60px;
}
.pc-advantage .jumbotron p {
	line-height: 36px;
}