/*
 * @Author: Ryan 
 * @Date: 2018-07-29 19:05:55 
 * @Last Modified by: Ryan
 * @Last Modified time: 2018-08-30 15:08:58
 */

#center header {
    background-image: url(../images/bg-other.png);
}

.center-h1 {
    font-family: MicrosoftYaHei-Bold;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    color: #333333;
    margin-top: 100px;
    margin-bottom: 36px;
}

.center-p {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #333333;
}

.center-1 img {
    margin-bottom: 100px;
}