#contact header {
    background-image: url(../images/bg-other.png);
}

.contact-h1 {
    font-family: MicrosoftYaHei-Bold;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    color: #333333;
    margin-top: 100px;
    margin-bottom: 40px;
}

.contact-box-1 {
    font-size: 16px;
    color: #333333;
}

#contact-map {
    height: 500px;
    margin-bottom: 50px;
}

.contact-box-1 p {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 66px;
}